<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<package name="com.tiger.vo"/>
  </typeAliases>
  <mappers>
    <mapper resource="mybatis/mapper/tuser.xml"/>
    <mapper resource="mybatis/mapper/codeGb.xml"/>
    <mapper resource="mybatis/mapper/lGroupCd.xml"/>
    <mapper resource="mybatis/mapper/mGroupCd.xml"/>
  </mappers>
</configuration>